* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 15px;
}
img,
svg {
  width: 100%;
}

/* heade style start */
.hero {
  background: #2d25a0;
  height: 677px;
  color: #fff;
  padding-top: 42px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  margin-bottom: 47px;
}
.bar {
  display: none;
}
.navbar-items {
  list-style: none;
  display: flex;
}
.navbar-item {
  margin-right: 36px;
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
/* login common btn */
.login-link {
  background-color: #e02c6d;
  color: #fff;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.login-link .fa-solid {
  margin-right: 8px;
}
/* hero area content */
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 86px;
}

.hero-text {
  max-width: 485px;
  max-height: 230px;
  color: #fff;
}

.hero-text h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 27px;
}

.hero-img {
  max-width: 556px;
  max-height: 438px;
}
.animation {
  position: relative;
  animation-name: btnanimation;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}
@keyframes btnanimation {
  0% {
    background-color: #e02c6d;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: #cf2b67;
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: #c22a62;
    left: 0px;
    top: 20px;
  }
  75% {
    background-color: #c0225c;
    left: 0px;
    top: 30px;
  }
  100% {
    background-color: #d42464;
    left: 0px;
    top: 0px;
  }
}
/* hea.animation {
}d style end */
.btn {
  background-color: #e02c6d;
  color: #fff;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn .fa-solid {
  margin-left: 8px;
}
/* main starts */
.m-top {
  margin-top: 70px;
}

.players-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 27px 30px;
  margin-bottom: 70px;
}

.players-layout-parts {
  height: 474px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.149);
}

.players-img {
  margin-bottom: 16px;
}
.players-content h2 {
  color: #18191f;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
}
.players-content p {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 26px;
}

/* player parts ends */

/*  extra section 1 starts */
.products-head {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px 30px;
  margin-bottom: 70px;
}

.product-icons .fa-solid {
  color: #e02c6d;
}
.product-icons,
.product-text h3:hover {
  color: #e02c6d;
}
.product-text h3 {
  margin-bottom: 7px;
}
.product-text p {
  color: #6c6c6c;
  font-size: 16px;
}

/* extra 2 */
.signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 250px;
  background: #2d25a0;
  margin: 40px 0;
}
.signup-content {
  padding: 20px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  text-align: left;
  color: #fff;
}
.signup-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.signup-content input {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f8f8f8;
}
.signup-content input:focus {
  outline: none;
  border: 1px solid #e02c6d;
}
.signup-content input::placeholder {
  color: #9c9c9c;
  font-size: 16px;
  font-weight: bold;
}

.signup-img {
  max-height: 300px;
  max-width: 400px;
}
/* extra ends */
/* footer starts */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 63px;
  margin-top: 100px;
}

.footer-logo {
  max-width: 483px;
  max-height: 110px;
  margin-bottom: 20px;
}

.footer-icons-container {
  max-height: 32px;
  max-width: 32px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.footer-content img {
  width: 100%;
}
.footer-icons {
  display: flex;
}

/*-------------------------------------------- media query
------------------------------------------------ */
@media (max-width: 600px) {
  body {
    max-width: 800px;
  }
  .container {
    max-width: 760px;
  }

  /* heade style start */
  .hero {
    padding-top: 33px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    margin-bottom: 47px;
  }
  .navbar-items {
    display: none;
  }
  .bar {
    display: block;
  }

  /* hero area content */
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
  }
  .hero-text {
    width: inherit;
    height: inherit;
    margin-bottom: 30px;
  }

  .hero-text h1 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .hero-img {
    height: 259px;
    width: 329px;
  }

  /* head style end */

  .btn .fa-solid {
    margin-left: 8px;
  }

  /* main starts */
  .m-top {
    margin-top: 47px;
  }
  .players-layout {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 0 30px;
    margin-bottom: 60px;
  }

  .players-layout-parts {
    height: inherit;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
  /* player parts ends */

  /*  extra section 1 starts */
  .products-head {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 50px;
  }
  /* extra 2 */
  .signup {
    flex-direction: column;
    justify-content: center;
    max-height: 350px;
    margin: 30px 0;
  }
  .signup-content p {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .signup-content h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .signup-img {
    max-height: 200px;
    max-width: 200px;
  }

  /* extra ends */
  /* footer starts */
  .footer-logo {
    max-width: 230px;
    max-height: 63px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .hero-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: inherit;
    justify-content: inherit;
    gap: 30px 0;
  }
  .hero-text {
    max-width: inherit;
    max-height: inherit;
  }
  .hero-img {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: inherit;
    max-height: inherit;
  }
  .navbar-items {
    display: none;
  }
  .bar {
    display: block;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .players-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 27px 30px;
    margin-bottom: 70px;
  }
}
